
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

#pantalla2, #pantalla3 {
    display: none;
  }

*{
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-image: url(https://i.ibb.co/BB7nSw6/PCXWBSDJLBF2-ZLGYM6-WOOLAVJQ.webp); 
    background-size: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin:50px;  
}

  .inicio{
     
    background-color: rgb(247, 253, 253, 60%);
    border-radius: 10px;
    box-shadow:  0 0 10px 2px rgba(100, 100, 100, 0.4);
    align-items: center;
    font-size: 18px;
    padding: 10;
    display: block;
    position: relative; 
    left: 4%; 
    justify-content:center;
    overflow:hidden;
    width: 800px;
    height: 200px;
    margin:100px;
    text-align:center;
    line-height: 200%;   
  }

  #nombre{
    font-size: 20px;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(247, 253, 253, 60%);

  }

  #fuerte{
    font-weight: bold;
    font-size: 40px;
  }

  #imagen2{
    position: relative;
    left: 20%;
  }

  .boton{
    font-family: 'Rajdhani', sans-serif; 
    display: inline-block;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    transition: .3s all ease;
    text-align: center;
    font-size: 22px;
    position: relative;
    left: 40%;
    top: 0;
    right: 0;
    width: 20%;
    background-color:rgba(78, 76, 45, 0.608);
    font-weight: bold;
    }

    .boton:hover{
        background-color: rgba(133, 176, 77, 0.501);     
      }
      
    .boton:focus{
          outline:none;
          background-color: rgba(176, 83, 50, 0.501);
      }

    #texto2{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
      }

    #pantalla3 {
    width:400px;
    height: auto;
    overflow:hidden;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding: 4rem;
    margin:auto;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(247, 253, 253, 60%);
    }

    .imput {
        border-radius: 5px;
        background-color: rgb(206, 215, 225);
        width:240px;
        height:50px;
      }

    .boton1{
      background-color:rgba(78, 76, 45, 0.608);
      color: #ffffff;
      border-radius: 10px;
      transition: .3s all ease;
      border: none;
      font-size: 15px;
      margin: auto;
      padding: 10px;
    }
    .boton1:hover{
      background-color: rgba(133, 176, 77, 0.501);     
    }
    
  .boton1:focus{
        outline:none;
        background-color: rgba(176, 83, 50, 0.501);
    }
   
    .numero{
      background-color: rgb(247, 253, 253, 60%);
        -webkit-appearance: none;
    }
    
    
    
        

